# Introduction to data analysis in Python: Week 1

We're going to be working with the Squirrel Census dataset this week. [The Squirrel Census](https://www.thesquirrelcensus.com/) is a multimedia science, design, and storytelling project focusing on the Eastern gray (Sciurus carolinensis). The dataset contains data for 3,023 squirrel sightings recorded in Central Park, New York in October 2018. It includes information such as location coordinates, age, primary and secondary fur color, elevation, activities, communications, and interactions between squirrels and with humans.

There's a full description of all the columns in this dataset on the [NYC Open Data Portal](https://data.cityofnewyork.us/Environment/2018-Central-Park-Squirrel-Census-Squirrel-Data/vfnx-vebw/about_data) -- have a quick look through the table before continuing and keep it open in a separate tab to refer back to when needed!

## Getting set up

To get started, we need to import some key Python packages:

- The ``pandas`` package is used for working with dataframes (i.e. tabular or structured data)
- The ``numpy`` package is used for working with numerical data (you may or may not need this depending on how complex you want to get!)

These packages are all widely used for data analysis. They define new data types that complement the built-in types (like dictionaries and lists), and contain a bunch of useful functions for manipulating and visualising data. The convention is to import each of these packages with a short 'nickname' that makes it quicker and easier to refer to them, as you'll see in the next cell.

In [ ]:
# Import the packages
import pandas as pd
import numpy as np

You can get an idea of how much useful stuff is inside these packages by running the following code, which will print out a list of all the different things a named package can do. Many of the entries won't make any sense at this stage -- don't worry! It's just to give you a general idea that there's *a lot* of new data types and functions now at your disposal.

In [ ]:
def look_inside(package):
    for option in dir(package):
        print(option)

look_inside(pd) # You could also call this function with np or plt as the "package" argument to see the insides of those packages!

Next we need to import our dataset. If you cloned the git repo for this course and haven't moved anything around, the csv file should just be in the same folder as this notebook. If you get an error in running any of the next few cells, it's probably because that's not the case -- either you just downloaded the notebook and not the dataset, or you've moved things into subfolders.

As you will find with most programming languages, there are a multitude of ways in which you can load in data. Loading data efficiently is a critical step in any data analysis process, and while Python's built-in functions can handle basic data loading tasks, the pandas library offers a more powerful and flexible approach. Run the next cell to load the squirrels dataset using pandas.

In [ ]:
# Read in the data
data = pd.read_csv("squirrels.csv")

Note that pandas also has functions to import different types of datasets, like Excel files (which end with ``.xlsx``), JSON files, and SQL databases.

There's also many other options within the ``read_csv`` function that we're not using here. For example:

- If you have data with no header row (i.e. no column names, the data itself starts on the first row), you can specify ``header=None`` and then give a list of column names like this: ``names=["col1", "col2", "col3"]`` (you can also specify ``header=0`` and then give a list of names to overwrite the existing column names).
- If missing values in your dataset are represented in some way other than "NA", "NaN" or just an empty cell, you can use the ``na_values`` parameter to tell Python what other values to treat as NA.
- If you're working with a particularly messy dataset, there are other options you can use to deal with errors in loading data, like ``on_bad_lines="skip"``, or specifying an ``encoding`` to help Python read unusual characters.

We won't go through any of these advanced options on this course, but you can always have a look at the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) if there's something specific you want to achieve.

## Getting started with pandas dataframes

Now that we've read our dataset in, we need to understand how it's actually stored in Python. When we use pandas to load data, that data gets stored as a pandas DataFrame, which is a new data type. DataFrames are two-dimensional tabular data structures i.e. they have rows and columns. First, let's create a small DataFrame from scratch to see what they look like.

In [ ]:
# Create a new dataframe
cdcs = pd.DataFrame({
    "name": ["Lucia", "Aislinn", "Sarah"],
    "role": ["Training Manager", "Training Fellow", "Training Fellow"],
    "PhD": ["Archaeology", "Linguistics", "Data visualisation"],
    "year_submitted": [2018, 2025, 2024],
})

cdcs

You may notice that what we pass to the ``pd.DataFrame`` function looks just like a Python dictionary, with strings as keys and lists of items as values. And what it spits out is a nice tidy table with named columns and rows. The column names are the dictionary keys, and the cells are filled in with the dictionary values in the order we specified them.

To create a DataFrame like this, all the lists of items to go in the different columns must be the same length. Let's see what happens when we don't do that.

In [ ]:
# 3 items each for the name, role and PhD columns, but only 2 values for the year_submitted column
pd.DataFrame({
    "name": ["Lucia", "Aislinn", "Sarah"],
    "role": ["Training Manager", "Training Fellow", "Training Fellow"],
    "PhD": ["Archaeology", "Linguistics", "Data visualisation"],
    "year_submitted": [2018, 2025],
})

Ok, that's a big error message, but the important bit is right at the bottom!

In practice, it's fairly unusual to create DataFrames like this -- usually we'll be reading in an existing dataset like the squirrels one we're using on this course. So let's move on to that now.

We can see what our real dataset looks like by running the following cell, which will show the first few rows (by default, 5 rows, but you can put a number in the brackets if you want to see more/fewer).

In [ ]:
# Show the first few rows of the dataframe
data.head()

In [ ]:
# Or the last few rows!
data.tail()

We can also find out the total size of our dataset using ``size`` and ``shape``. See if you can figure out the difference between these by running the next two cells!

In [ ]:
data.size

In [ ]:
data.shape

There a variety of other methods we can use to explore the structure of a DataFrame. For example, ``data.columns`` will show us the column names, ``data.index`` will show us the row labels, and ``data.dtypes`` will show us what data type is stored in each column. 

For a nice overview, we can use the ``info`` method. This provides a concise summary of the DataFrame, including the number of non-null entries and data types of each column. The ``object`` dtype refers both to strings and to columns with mixed data types.

In [ ]:
data.info()

If you want to access a specific column, you can index the DataFrame using the column name, as follows:

In [ ]:
data["Primary Fur Color"]

This returns a Series, which is another data type that's similar to a list but with "axis labels" (i.e. row numbers). You can also get all the values from one column as a normal list by wrapping the code above in ``list()``.

In [ ]:
list(data["Primary Fur Color"])

To select multiple columns, you can pass a list of column names. This will return a DataFrame with the selected columns. Note that the columns don't have to be in the same order as they were in the original DataFrame!

In [ ]:
data[["Unique Squirrel ID", "Primary Fur Color", "Date"]]

To select a particular row by row number, you can use ``iloc``. If you have a dataset with named rows instead of numbered rows, you can use ``loc`` to select rows by name.

In [ ]:
data.iloc[[10]]

To select a continguous range of rows, you can use list slicing syntax.

In [ ]:
data.iloc[10:20]

Probably more helpfully than selecting rows by index, you can also filter based on certain criteria. For example, if you just want to see the squirrels that were recorded as being adults, you can do:

In [ ]:
# Filter the dataframe
adult_squirrels = data[data["Age"] == "Adult"]

# See how many rows that leaves us with
adult_squirrels.shape

You can also use more complex criteria, like:

In [ ]:
morning_adult_squirrels = data[(data["Age"] == "Adult") & (data["Shift"] == "AM")]
morning_adult_squirrels.shape

Have a play with these functions -- try creating some new DataFrames that contain a particular subset of the squirrels data, or creating a new DataFrame from scratch and then seeing what properties it has based on the type of data you've entered in each column. N.B. pandas DataFrames can contain all kinds of data -- in the toy example earlier we just saw strings and integers, but trying adding some floats, booleans (True or False) etc.

## Data wrangling

When we start working with a dataset like our squirrels one, we often have to do a lot of work to get it from its raw format into a format that's more useable for the analysis we want to do: this process is known as "data wrangling" (also sometimes "data munging", but I'll leave you to decide which term sounds nicer!). 

The exact steps you'll need to go through will depend on the properties of your dataset, but here's some common ones:

- Cleaning text columns by removing leading/trailing whitespace, converting all characters to lowercase, removing punctuation etc.
- Removing duplicate rows/columns.
- Dealing with missing data and NA values (more on this later!).
- Concatenating values from different columns to make a composite measure (the "Combination of Primary and Highlight Color" column in the squirrels dataset is an example of this).
- Splitting a column out into its component parts if it's already composite.
- Discretising continuous values into categories. For example, if we had a dataset of humans with a column for Age (in years), we might want to make a new column that labelled each person as "child" if they were under 18 or "adult" if they were over 18.
- Moving columns around (never strictly necessary for analysis purposes, but can help make things more human readable to have related columns next to each other).

The squirrels dataset is already quite well cleaned, so some of these operations won't really do anything, but we can still see how they work so you can apply them to other datasets you're working with in the future!

### Text cleaning

Let's have a look at text cleaning first. Whitespace at the beginning or end of strings can cause issues in data analysis (because Python will treat "string", " string" and "string " as three different things) -- to remove it, we can use the ``str.strip()`` method.

In [ ]:
# Remove whitespace from the Primary Fur Color column
data["Primary Fur Color"] = data["Primary Fur Color"].str.strip()

# It's standard practice to always look at the first few rows of a dataframe after applying any transformation to make sure it's worked!
data.head()

Now this DataFrame has 31 columns, which is quite a few, but many datasets you'll be working with might have lots more than that! It's going to get pretty inefficient to do this on a column-by-column basis. There is a way to apply the same transformation to all columns containing text data:

In [ ]:
data[data.select_dtypes(include=["object"]).columns] = data.select_dtypes(include=["object"]).apply(lambda x: x.str.strip())
data.head()

This code looks pretty horrible! But let's step through it, starting on the right of the equals sign:

- ``data.select_dtypes(include=['object'])`` selects all text columns in the DataFrame (columns with type object).
- ``.apply(lambda x: x.str.strip())`` applies ``strip()`` to each of those columns. ``lambda`` is what's called an "anonymous function" -- don't worry too much about this, but do ask if you want to know more!
- The left hand side of the equals sign tells Python to store the result of that operation in each of the columns that are of type object (if you didn't include this, Python would carry out the operation and show you the result, but it wouldn't actually be saved in the DataFrame).

It's also common to convert all text to lowercase (because, again, "String" and "string" are treated differently, so we want to make sure things are standardised before we start our analysis). To do this, we can use the ``str.lower()`` function in the same way as ``str.strip()``. Try doing this with just one named column or applying it to all the text columns at once. N.B. You can also chain operations (i.e. ``str.strip().str.lower()``)!

### Dealing with duplicate data

Duplicate data can cause inaccuracies in analysis and results. It is important to identify and handle duplicates to ensure data integrity. Duplicates can occur in both rows and columns, and handling them involves either removing or aggregating the duplicate entries.

Identifying duplicate rows is the first step in handling duplicate data. We can use the ``duplicated()`` method to find duplicate rows in the dataset. The `duplicated()` method returns a boolean Series indicating whether each row is a duplicate. We sum this Series to get the total number of duplicate rows and display the actual duplicate rows for inspection.

In [ ]:
# Check for duplicate rows
duplicate_rows = data.duplicated()

# Display the count of duplicate rows
print(f'Total duplicate rows: {duplicate_rows.sum()}')

# Show the duplicate rows
print(data[duplicate_rows])

Ok, like I said, it's a pretty clean dataset, so we don't have any duplicates! But running the following code won't do any harm, and let's you see how you'd use it in a case where you did have duplicates.

Once duplicates are identified, we can remove them using the `drop_duplicates()` method. This method removes duplicate rows, keeping the first occurrence by default.

In [ ]:
data = data.drop_duplicates()

Duplicate columns can also occur, especially when merging datasets. We can identify duplicate columns by comparing the values across columns.

In [ ]:
# Check for duplicate columns by transposing the dataframe and using duplicated
duplicate_columns = data.T.duplicated()

# Display the duplicate columns
print(f'Duplicate columns: {duplicate_columns.sum()}')
print(data.T[duplicate_columns].T.head())

We transpose the DataFrame and use the ``duplicated()`` method to identify duplicate columns. Transposing the DataFrame switches rows and columns, allowing us to use the same method for detecting duplicates.

After identifying duplicate columns, we can remove them by selecting only the unique columns.

In [ ]:
data = data.loc[:, ~data.T.duplicated()]

We remove duplicate columns by transposing the DataFrame, removing the duplicate columns, and transposing it back. This ensures that we retain only unique columns in the dataset.

Sometimes, rows may not be exact duplicates but may still need to be handled due to partial duplication. We can use the `drop_duplicates()` method with specific columns to handle this, by passing a list of columns to the `subset` parameter to specify which columns to consider when identifying duplicates. This allows us to handle partial duplicates based on specific columns.

In [ ]:
unique_data = data.drop_duplicates(subset=["Unique Squirrel ID"]) # Maybe we only want to keep one row per squirrel
unique_data.shape

### Transforming data into different types

Another thing I noticed about the squirrels dataset is that the Date column is just being treated as a number, not a real date -- if you look at the [NYC Open Data Portal](https://data.cityofnewyork.us/Environment/2018-Central-Park-Squirrel-Census-Squirrel-Data/vfnx-vebw/about_data) you'll see that this column is a "concatenation of the sighting session day and month". Python has a package, ``datetime``, which is specifically designed to work with dates, so we might want to transform this column into that data type. Let's give it a go!

In [ ]:
# First we need to import the datetime package
import datetime as dt

# Then we can add a new column where we convert the date column into a datetime object
# The format argument tells Python how the elements are ordered in the original column (this is an American dataset so it's MM/DD/YYYY!)
data["parsed_date"] = pd.to_datetime(data["Date"], format="%m%d%Y")

# And then if we have a look at info() again we'll see the new column at the bottom with the datetime dytpe
data.info()

### Other tasks you can think of!

Have a think about some other changes or additions you'd like to make to this dataset (or any others you've brought to work on). Discuss with your partner/others at your table how you think you might go about implementing these. If you feel confident navigating the pandas documentation yourself, have a go at running your own code in the next few cells!

## Dealing with missing data

You may have noticed when we ran ``data.info()`` that there's quite a lot of missing data in some columns; for example, that output told us that there were only 182 entries in the "color notes" column out of a total of 3023 rows.

Another way to look at this is to count how many missing values are in each column by chaining two different operations. ``isnull()`` returns a DataFrame of the same shape as the original, but with boolean values indicating the presence of missing data (try removing ``.sum()`` to see what this looks like!). Chaining the ``sum()`` method allows us to count the number of missing values in each column, which gives a clear overview of where data is missing.

In [ ]:
data.isnull().sum()

There's no one way to deal with missing data. Sometimes, the best thing to do will be to just remove certain rows or columns, but other times, you'll want to try and fill in missing values. Each approach has trade-offs, and the best method depends on the specific dataset and analysis requirements.

We can use the ``dropna()`` function to remove all rows or columns with missing values at once, but based on the summary above, this might not leave us with much data!

In [ ]:
# Remove all rows with any missing values
data_dropped_rows = data.dropna()

# Remove all columns with any missing values
data_dropped_columns = data.dropna(axis=1) # axis=1 tells dropna() to go by columns instead of rows (its default behaviour)

# Check how many rows this leaves us with
print("Original dataset shape:", data.shape)
print("After dropping rows:", data_dropped_rows.shape)
print("After dropping columns:", data_dropped_columns.shape)

Just dropping rows/columns where there's **any** missing data seems perhaps a bit extreme in this case. Instead, I think I'll just remove a few of the columns that have a lot of missing data using ``drop()``, and fill in some others with a default value using ``fillna()``.

In [ ]:
# Drop columns with a lot of missing data
# N.B. inplace=True means the result of this operation will be saved in the dataframe without us explicitly assigning it using data = data.drop()
data.drop(columns=["Color notes", "Specific Location", "Other Activities", "Other Interactions"], inplace=True)

# Check how many columns we've got now (should be less than before!)
data.shape

In [ ]:
# Fill missing cells in text columns with "unknown"
data[data.select_dtypes(include=["object"]).columns] = data.select_dtypes(include=["object"]).fillna("unknown")

# Visually inspect the data (we should see "unknown" in some cells now since we had NA values on the first few rows before)
data.head()

In [ ]:
# And check whether we still have any null values
data.isnull().sum()

We'll see another possible method of dealing with missing data next week when we get on to summary statistics: filling empty cells with a computed statistic (e.g. the mean of the column).